<%= form_with(model: @review, local: true) do |f| %>
  <div class="form-group">
    <%= f.text_area :content, class: 'form-control', rows: 5 %>
  </div>
  <%= hidden_field_tag :anime_id, anime.id %>
  <%= f.submit '送信', class: 'btn btn-primary btn-block' %>
<% end %>
<ul class="list-unstyled">
  <% reviews.each do |review1| %>
    <% anime.reviews.each do |review2| %>
      <% if review1 == review2 %>
        <li class="media mb-3">
          <div class="media-body">
            <div>
              <%= review1.user.name %> <span class="text-muted">posted at <%= review1.created_at %></span>
            </div>
            <div>
              <p><%= review1.content %></p>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
  <% end %>
  <%= paginate reviews %>
</ul>